{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="card text-white bg-info">
    <div class="card-header">Login</div>
    <div class="card-body">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}
            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text"
                       class="form-control"
                       id="username"
                       name="_username"
                       value="{{ last_username }}"
                       required="required"
                       autocomplete="username"/>
            </div>
            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password"
                       class="form-control"
                       id="password"
                       name="_password"
                       required="required"
                       autocomplete="current-password"/>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="remember_me">
                    <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" value="on"/>
                    {{ 'security.login.remember_me'|trans }}
                </label>
            </div>
            <div class="form-group">
                <input class="btn btn-outline-light btn-block" type="submit" id="_submit" name="_submit"
                       value="{{ 'security.login.submit'|trans }}"/>
            </div>
        </form>
    </div>
</div>
