@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,500i|Noto+Serif:400,400i');

html, .root {
  font-size: 15px;
  line-height: 20px;
}
body {
  font-family: 'Noto Serif', serif;
  font-size: 1rem;
  line-height: 1.3333333rem;
}
h1, .h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 2.8rem;
  line-height: 4rem;
  margin-top: 1.3333333rem;
  margin-bottom: 2.6666666rem;
}
h2, .h2 {
  font-family: "Fira Sans", sans-serif;
  font-size: 2rem;
  line-height: 2.6666667rem;
  margin-top: 1.3333333rem;
  margin-bottom: 1.3333333rem;
}
h3, .h3 {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 2.6666667rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
h4, .h4 {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.3333333rem;
  margin-top: 1.3333333rem;
  margin-bottom: 0rem;
}
h5, .h5 {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.3333333rem;
  margin-top: 1.3333333rem;
  margin-bottom: 0rem;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.3333333rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}