{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
    <div class="row justify-content-center align-items-center" style="height: 90vh;">
        <div class="col-4 col-xs-12">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}
    {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Richard K&ouml;ster - Copyright &copy; 2018</p>
                    </div>
                </div><!-- /row -->
            </div><!-- /container -->
        </footer>
    {% endblock %}