.navbar {
   font-family: Fira Sans, sans-serif;
   background: $primary-color;
   height: 96px;

  &.admin {
    background: #131515;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;

    .nav-item {
      .nav-link {
        padding: 16px 16px;
        border-radius: 4px;
        &:hover {
          background: rgba(0,0,0,0.2);
        }
      }
    }
  }
 }