body {
  background: linear-gradient(0, #fafafa, #F2F2F2);
}
header:first-child {
  padding-bottom: 32px;
}
.container-fluid {
  &#home {
    height: 100vh;
  }
  .container {
    padding: 0;
    margin-top: 32px;
  }
}