{% extends 'admin.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row pb-2">
            <div class="col-12">
                <a href="{{ path('blog_admin_create') }}" class="btn btn-primary"><i class="fas fa-plus"></i> Add an
                    article</a>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for blog in blogs %}
                <tr>
                    <th>{{ blog.id }}</th>
                    <th>{{ blog.title }}</th>
                    <th>
                        <a href="{{ path('blog_admin_edit', {'id': blog.id}) }}" class="btn btn-info">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a href="{{ path('blog_admin_delete', {'id': blog.id}) }}" class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}