{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}
    {% block menu %}
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark justify-content-between admin">
                <div class="container">
                    <a class="navbar-brand" href="#">Richard</a>
                    <div class="justify-content-between">
                        {{ knp_menu_render('backend') }}
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}