<!DOCTYPE html>
<html>
<head>
    {% block metadata %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/js/app.css') }}"/>
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    {% endblock %}

</head>
<body>
{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Richard</a>
            <div class="justify-content-between">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
<div class="container">
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
</div>
{% block content %}
{% endblock %}
{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Richard K&ouml;ster - Copyright &copy; 2018</p>
                </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </footer>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>