{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}


    {% block menu %}
        <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
            <div class="container">
                <a class="navbar-brand" href="#">Richard</a>
                <div>
                    {{ knp_menu_render('frontend', {'currentClass': 'active'}) }}
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block content %}
        dump
    {% endblock %}
