{% extends 'frontend.html.twig' %}

{% block content %}
    <div id="home" class="container-fluid">
        <div class="container">
            <div class="row d-flex flex-row">
                {% for blog in blogs %}
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <img src="https://wallup.net/wp-content/uploads/2016/01/258723-nature-landscape-rock-hill-sunset-field-748x468.jpg"
                                 alt=""
                                 class="card-img-top">
                            <div class="card-body">
                                <h3 class="card-title">{{ blog.title }}</h3>
                                <p class="card-text">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                                <footer class="d-flex justify-content-end">
                                    <a href="#" class="btn btn-outline-primary ">Read more &gt;</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}