{% extends 'admin.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="card">
            {{ form_start(form) }}
            <div class="card-header">
                <h3>{{ create ? 'Create' : 'Edit' }} {{ title }}</h3>
            </div>
            <div class="card-body">
                {{ form_widget(form) }}
            </div>
            <div class="card-footer d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}